.features {
  padding: 7.8125rem 0rem;
  width: 100%;
}
.features__row-top {
  margin-bottom: 5rem;
}
.features-card {
  margin: 0px 15px;
  max-width: 17.8125rem;
}
.features-card__img {
  margin-bottom: 2.5rem;
}
.features-card__img-item {
  display: block;
  margin: auto;
}
.features-card__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.875rem;
  font-size: 0.875rem;
}
.features-text {
  text-align: center;
  font-size: 0.875rem;
}
