@import url('../css/header.css');
@import url('../css/firstscreen.css');
@import url('../css/features.css');
@import url('../css/works.css');
@import url('../css/team.css');
@import url('../css/download.css');
@import url('../css/footer.css');
@import url('../css/clients.css');

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #6c7279;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
.viewport {
  background: url('../img/bg/viewport-bg.jpg') no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.viewport::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(43, 45, 73, 0.9);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  background-color: #e74545;
  color: #ffffff;
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: auto;
  transition-duration: 0.5s;
  border-radius: 0.1875rem;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 2.8125rem;
}
.button:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}

/*---------- Adaptive ----------*/
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .row {
    justify-content: space-around;
  }
  .team-card:nth-child(1) {
    margin-bottom: 30px;
  }
  .team-card:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header__row {
    justify-content: space-between;
  }
  .header-menu {
    display: none;
  }
  .features-card {
    max-width: 45%;
  }
  .works-container__img {
    width: 33.3%;
  }
  .works__seven,
  .works__eight {
    display: none;
  }
  .team {
    padding-bottom: 0rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 15px;
  }
  .container {
    max-width: 90%;
  }
  .works-container__img {
    width: 50%;
  }
  .works__five,
  .works__six {
    display: none;
  }
  .slider__item {
    flex-direction: column;
  }
  .clients__photo {
    width: 100%;
    height: 18.75rem;
  }
  .clients__content {
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  .clients__text {
    max-width: 80%;
    font-size: 1.5rem;
  }
  .clients__author {
    font-size: 0.6rem;
  }
  .slider .slick-arrow {
    top: 20%;
  }
  .slider .slick-dots {
    display: flex;
    position: absolute;
    top: 95%;
    left: 30%;
  }
}

@media (max-width: 706px) {
  .firstscreen__main-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 666px) {
  .features {
    padding: 4.3125rem 0rem;
  }
  .features-card {
    max-width: 80%;
  }
}

@media (max-width: 624px) {
  .footer {
    background: linear-gradient(to bottom, #393d63 75%, #313353 25%);
  }
  .footer__row {
    margin-bottom: 3rem;
  }
  .footer__row-item {
    width: 40%;
  }
  .footer__row-item:last-child {
    margin-top: 30px;
  }
}

@media (max-width: 614px) {
  .firstscreen__main-title {
    font-size: 3rem;
  }
  .firstscreen__text-content {
    font-size: 1rem;
  }
}

@media (max-width: 608px) {
  .team-card:nth-child(3) {
    margin-bottom: 30px;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 90%;
  }
  .firstscreen {
    padding: 8.375rem 0rem;
  }
}

@media (max-width: 507px) {
  .footer {
    background: linear-gradient(to bottom, #393d63 80%, #313353 20%);
  }
  .footer__row-item {
    width: 80%;
  }
  .footer__row-item:nth-child(2) {
    margin-top: 30px;
  }
}

@media (max-width: 497px) {
  .firstscreen__button {
    width: 80%;
  }
  .dowload__button {
    width: 80%;
  }
}
@media (max-width: 497px) {
  .firstscreen__main-title {
    font-size: 2.8rem;
  }
}
@media (max-width: 466px) {
  .firstscreen__main-title {
    font-size: 2.7rem;
  }
  .works-container__img {
    width: 100%;
  }
  .works__tree,
  .works__four {
    display: none;
  }
}
@media (max-width: 450px) {
  .firstscreen__main-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 435px) {
  .firstscreen__main-title {
    font-size: 2.5rem;
  }
  .footer {
    padding: 3rem;
  }
}
@media (max-width: 419px) {
  .firstscreen__main-title {
    font-size: 2.4rem;
  }
  .firstscreen {
    padding: 7.375rem 0rem;
  }
  .footer {
    background: linear-gradient(to bottom, #393d63 77%, #313353 23%);
  }
}
@media (max-width: 404px) {
  .firstscreen__main-title {
    font-size: 2.3rem;
  }
  .features {
    padding-top: 3.3125rem;
  }
}
@media (max-width: 389px) {
  .firstscreen__main-title {
    font-size: 2.2rem;
  }
}
@media (max-width: 373px) {
  .firstscreen__main-title {
    font-size: 2.1rem;
  }
}
@media (max-width: 358px) {
  .firstscreen__main-title {
    font-size: 2rem;
  }
  .firstscreen {
    padding: 6.375rem 0rem;
  }
}
@media (max-width: 342px) {
  .firstscreen__main-title {
    font-size: 1.9rem;
  }
  .features {
    padding-top: 2.3125rem;
  }
}
@media (max-width: 333px) {
  .footer__text_item-top,
  .footer__text_item-bottom {
    font-size: 0.8rem;
  }
}
@media (max-width: 327px) {
  .firstscreen__main-title {
    font-size: 1.8rem;
  }
  .firstscreen {
    padding: 5.375rem 0rem;
  }
  .features {
    padding-top: 1.3125rem;
  }
}
