.awesome {
  padding: 6.25rem 0rem 6.8125rem 0rem;
  width: 100%;
}
.awesome__title::after {
  top: 1.5625rem;
}
.awesome__title {
  margin-bottom: 3.5625rem;
}
.awesome__row {
  margin: 4.1875rem -15px 0rem -15px;
  flex-wrap: wrap;
}
.awesome-card__img-border {
  border: 0.0625rem solid #d98943;
  border-radius: 50%;
  width: 4.375rem;
  height: 4.375rem;
  margin: 0rem auto 1.875rem;
}
.awesome-card {
  width: 21.875rem;
  margin-left: 15px;
  margin-right: 15px;
}
/*.awesome-card__img {
  margin: 20px auto;
  display: block;
}*/
.fa-lightbulb {
  font-size: 1.875rem;
  color: #d98943;
  margin: 1.25rem 1.5rem;
}
.fa-keyboard {
  font-size: 1.875rem;
  color: #d98943;
  margin: 1.25rem 1.1875rem;
}
.fa-bolt {
  font-size: 2.0625rem;
  color: #d98943;
  margin: 1.1875rem 1.5625rem;
}
.awesome-text {
  text-align: center;
}
