.firstscrin {
  padding: 110px 0px 100px 0px;
  width: 100%;
  background: url('../img/bg/firstscrin-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.firstscrin::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.firstscrin__card {
  width: 540px;
  margin-left: 15px;
  margin-right: 15px;
}
.main-title {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 32px;
}
.firstscrin__title {
  color: #ffffff !important;
  text-align: left !important;
  line-height: 42px;
  margin-bottom: 85px;
}
.firstscrin__title::after {
  top: 45px;
  background-color: #ffffff !important;
  margin: 0 !important;
}
.firstscrin__text-content {
  text-align: left !important;
  margin-bottom: 40px;
  width: 250px;
}
.firstscrin__button {
  margin: 0;
}
.firstscrin__form {
  display: flex;
  flex-direction: column;
}
.firstscrin__form-content {
  width: 370px;
  height: 316px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 8px 8px 0px 0px;
}
.firstscrin__form-button {
  width: 370px;
  height: 54px;
  background-color: #ec7979;
  margin: 0 auto;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: block;
}
