.price {
  padding: 5rem 0rem 5.625rem 0rem;
  width: 100%;
  background: #e5e5e5;
}
.price__title::after {
  top: 2.125rem;
}
.price__title {
  margin-bottom: 4.375rem;
}
.price__row {
  margin: 3.9375rem -15px 0rem -15px;
  flex-wrap: wrap;
}
.price-card {
  width: 21.25rem;
  margin-left: 15px;
  margin-right: 15px;
}
.price-card__list-item {
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 0.125rem;
  background-color: #ffffff;
  text-align: center;
  line-height: 2.5rem;
  color: #86878b;
}
.list-item_category {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #333333;
  line-height: 3.125rem;
  color: #ffffff;
}
.list-item_cost {
  font-size: 2.1875rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  background-color: #333333;
  line-height: 6.25rem;
  color: #ffffff;
}
.list-item_description {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333333;
  line-height: 3.125rem;
}
.list-item_description:hover {
  font-weight: 800;
  background-color: #d98943;
}
.price-card:hover {
  transform: translateY(-0.9375rem);
  box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);
}
