.price {
  padding: 80px 0px 90px 0px;
  width: 100%;
  background: #e5e5e5;
}
.price__title::after {
  content: '';
  position: relative;
  top: 34px;
  width: 64px;
  height: 2px;
  background-color: #d98943;
  margin: 0 auto;
  display: block;
}
.price__title {
  margin-bottom: 70px;
}
.price-card {
  width: 340px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 63px;
}
a {
  text-decoration: none;
  display: block;
  height: 100%;
  color: #86878b;
}
.link {
  color: #ffffff;
}
.price-card__list-item {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 340px;
  height: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
  text-align: center;
  line-height: 40px;
}
.category {
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  background-color: #333333;
  line-height: 50px;
}
.cost {
  font-size: 35px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  height: 100px;
  background-color: #333333;
  line-height: 100px;
}
.free {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  height: 50px;
  background-color: #333333;
  line-height: 50px;
}
a:hover {
  font-weight: 800;
  background-color: #d98943;
}
