@import url('../css/awesome.css');
@import url('../css/price.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.title {
  font-size: 36px;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.title::after {
  content: '';
  position: relative;
  width: 64px;
  height: 2px;
  background-color: #d98943;
  margin: 0 auto;
  display: block;
}
.subtitle {
  font-size: 20px;
  color: #333333;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
p {
  font-size: 14px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.text {
  color: #86878b;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
