@import url('../css/awesome.css');
@import url('../css/price.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('../css/firstscreen.css');
@import url('../css/footer.css');
@import url('../css/social.css');
@import url('../css/contact.css');
@import url('../css/tabs.css');

html {
  font-size: 16px;
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.title {
  font-size: 2.25rem;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.title::after {
  content: '';
  position: relative;
  width: 4rem;
  height: 0.125rem;
  background-color: #d98943;
  margin: 0 auto;
  display: block;
}
.subtitle {
  font-size: 1.25rem;
  color: #333333;
  margin-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
p {
  font-size: 0.875rem;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.text {
  color: #86878b;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input,
textarea {
  outline: none;
  border: none;
  border-bottom: solid 0.0625rem #bdbdbd;
}
textarea {
  resize: none;
  background-color: transparent;
}
/*---------- Adaptive ----------*/
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .row {
    justify-content: space-around;
  }
  .tabs__image {
    max-width: 100%;
    text-align: center;
    margin-top: 1.875rem;
  }
  .awesome-card {
    margin-bottom: 1.875rem;
  }
  .awesome-card:last-child {
    margin-bottom: 0rem;
  }
  .price-card {
    margin-bottom: 1.875rem;
  }
  .price-card:last-child {
    margin-bottom: 0rem;
  }
  .customers-card {
    margin-bottom: 1.875rem;
  }
  .customers-card:last-child {
    margin-bottom: 0rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header__row {
    justify-content: space-between;
  }
  .header-menu__item {
    justify-content: space-around;
  }
  .firstscreen__row {
    flex-wrap: wrap;
  }
  .first-screen__logo {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }
  .main-title::after {
    margin: auto;
  }
  .firstscreen__text-content {
    margin: auto;
    margin-bottom: 1.875rem;
  }
  .firstscreen__button {
    margin: 0 auto;
    width: 60%;
  }
  #firstscreen__form {
    margin-top: 1.875rem;
  }
  .social__row {
    flex-wrap: wrap;
  }
  .social-subtitle {
    text-align: center;
  }
  .social__content-item {
    margin: 0rem 0rem 1.875rem;
    text-align: center;
  }
  .social__list {
    justify-content: space-around;
    width: 100%;
  }
  .social__list-item {
    margin: 0rem 0.9375rem;
  }
  .social__list-item:first-child {
    margin-left: 0rem;
  }
  .social__list-item:last-child {
    margin-right: 0rem;
  }
  .tabs__block {
    max-width: 30%;
  }
  .tabs__description {
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 15px;
  }
  .container {
    max-width: 90%;
  }
  .firstscreen {
    padding-top: 12.5rem;
  }
  .contact__row {
    flex-wrap: wrap;
  }
  .contact-card {
    width: 90%;
  }
  .contact-form__message {
    margin-top: 30px;
  }
}

@media (max-width: 655px) {
  .tabs__block {
    flex-direction: row;
    align-items: space-around;
    max-width: 100%;
  }
  .tabs__block-btn {
    margin: 0rem 0.9375rem 1.875rem;
  }
  .tabs__block-btn:first-child {
    margin-left: 0rem;
  }
  .tabs__block-btn:last-child {
    margin-right: 0rem;
  }
  .tabs__description {
    margin: 0px 15px;
    max-width: 70%;
  }
  .tabs__button {
    margin: 1.875rem auto 0rem;
    width: 80%;
  }
  .axure__button {
    width: 60%;
  }
  .contact__form-button {
    width: 60%;
  }
}

@media (max-width: 645px) {
  .logo {
    margin-bottom: 1rem;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 90%;
  }
  .firstscreen {
    padding-top: 15.625rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
