.tabs {
  padding: 7.875rem 0rem 6.5625rem 0rem;
  width: 100%;
}
.tabs__row {
  margin: 0px -15px;
  flex-wrap: wrap;
}
.tabs__block {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 0px 15px;
  max-width: 10%;
}
.tabs__block-item {
  padding: 2.8125rem 2.125rem;
  width: 7rem;
  height: 6.875rem;
  background: #333333;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.tabs__block-item:hover {
  background: #ec7979;
  cursor: pointer;
}
.tabs__block-item:last-child {
  margin-bottom: 0rem;
}
.tabs__description {
  margin: 0px 15px;
  max-width: 50%;
}
.tabs__image {
  margin: 0px 15px;
  max-width: 30%;
}
.tabs__image-item {
  width: 20rem;
  height: 15.8125rem;
}
.tabs__description_subtitle {
  font-weight: 700;
  line-height: 1.6875rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 3.625rem !important;
}
.tabs__description_text {
  margin-bottom: 1.25rem;
}
.first-paragraph,
.second-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: left;
  text-transform: uppercase;
  color: #86878b;
}
.tabs__button {
  display: block;
  padding: 0.6875rem 1.5625rem;
  width: 8.4375rem;
  background-color: #ec7979;
  border: 0.0625rem solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.9375rem;
  text-align: center;
  color: #ffffff;
  transition-duration: 0.5s;
  margin-top: 5.5625rem;
}
.tabs__button:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}
